body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1b1b2f;
}
.no-task-message {
  width: auto;
  margin-top: 50px;
  text-align: center;
  color: grey;
}
.task-list {
  width: 50%;
  margin: 0 auto;
  padding: 0;
}
.drag-item {
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: #3f485f;
  opacity: 1;
  border-radius: 5px;
  list-style-type: none;

  padding: 10px;
  padding-right: 40px;
}
.task-input {
  overflow: auto;
  min-height: 15px;
  height: auto;
  border-radius: 3px;
  outline: none;
  /*box-shadow: 0 0 5px #719ECE;*/
  resize: none;
  white-space: pre-wrap;
  background-color: #1b1b2f;
  color: gainsboro;
  font-size: 16px;
  padding: 5px;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#btn-add-item {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  /*line-height: 1.428571429;*/
  border-radius: 25px;
  background-color: grey;
  border-style: solid;
  border-color: black;

  position: fixed;
  bottom: 0;
  right: 0;

  margin-right: 25px;
  margin-bottom: 25px;
}
.item-control-container {
  width: 100%;
  height: 15px;
  margin-top: 6px;
}
.control-left {
  float: left
}
.control-right {
  float: right
}
.time-dot {
  background-color: red;
  width: 10px;
  height: 10px;
  margin: 3px;
  float: left;
  border-radius: 3px;
}
.item-control-button {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  float: right;
  border: none;
  border-radius: 3px;
  padding-bottom: 2px;
}
.progress-container {
  margin-top: -10px;
  height: 20px;
  min-width: 10px;
}
.progress-container svg {
  margin: 2px;
  float: right;
}
button:focus {outline:0;}